<!DOCTYPE html>
<html>
  <head>
    <title>GitHub Training at Baruco</title>
  </head>

  <body>
    <h1>GitHub Training</h1>
    <h2>Basic Super 
      Repository Example</h2>

    <p>
      A repo that has just 5 basic commits on master by three different coders.
      One of those coders is Tomasz Milczarek
    </p>
    <div class="content">
      Hello from Barcelona! The time is: <%= @time %>.
    </div>
  </body>
</html>